services:
  ml-backend:
    build: .
    depends_on:
      postgres:
        condition: service_healthy

    ports:
      - "8000:8000"
    networks:
      - conn      
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      SECRET_KEY: ${SECRET_KEY}
      ALGORITHM: ${ALGORITHM}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES} 
   
    command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000"]

  postgres:
    image: postgres:15
    environment:
       POSTGRES_USER: ${POSTGRES_USER}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_DB:  ${POSTGRES_DB}      
   
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d  ${POSTGRES_DB}"]
      interval: 3s
      timeout: 5s
      retries: 10
      start_period: 5s
    ports:
      - 5432:5432   
    networks:
      - conn
      
networks:
  conn: